this is the body
<!-- 	#########    Side bar      ###########    -->	
<!-- 		<aside id="left-panel">
			<nav>
				<ul>
					<li><a href="#/" title="The chat box"><i
							class="fa fa-lg fa-fw fa-list"></i><span class="menu-item-parent">Chat </span></a></li>
					<li><a href="#!/train" title="Train the bot"><i
							class="fa fa-lg fa-fw fa-leaf"></i><span class="menu-item-parent">Train</span></a></li>
					<li><a href="#files" title="View files of previous records"><i
							class="fa fa-lg fa-fw fa-code-fork"></i><span
							class="menu-item-parent">Files</span></a></li>
					<li><a href="#logs" title="View user logs"><i
							class="fa fa-lg fa-fw fa-cogs"></i><span class="menu-item-parent">Logs</span></a>
					</li>
				</ul>
			</nav>

			<span class="minifyme" data-action="minifyMenu"> <i
				class="fa fa-arrow-circle-left hit"></i>
			</span>
		</aside>


 -->
<!-- aaaaaaaaaaaaaaa
<ng-view></ng-view> -->