		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#collapse-header-menu"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<div class="logo">
						<div id="hide-menu" class="btn-header move-left"
							style="float: left; margin-left: 5px;">
							<span> <a href="javascript:void(0);" title="Collapse Menu"
								data-action="toggleMenu"> <i class="fa fa-reorder"
									style="line-height: 24px;"></i>
							</a>
							</span>
						</div>

						<div style="padding-left: 5px; width: 500px;">
							<img
								src="http://pipeline.web.att.com:8085/uui/public/img/globe.png"
								class="att-globe-perm" alt="AT&amp;T" align="left">
							<div id="appName" class="pull-left" style="margin-left: 10px;">
								AT&T <span class="green">Eco</span>
							</div>

							<!-- <form role="form" class="form-horizontal">
								<div>
									<div class="module-header-dropdown">
										<select id="mots-dropdown" class="form-control"
											style="margin-left: 5px;" data-toggle="tooltip"
											data-container="body" data-placement="right" title="">
										</select>
									</div>
								</div>

								<button data-toggle="tooltip" data-container="body"
									data-placement="bottom" title="Register An Application"
									class="btn btn-primary registerBtn" type="button"
									style="margin-left: 10px;">
									<i class="fa fa-plus"></i>
								</button>
							</form>
 -->
							<!-- <script>
    $(function() {
        $('#mots-dropdown').change(function(event){
            event.preventDefault();
            //update global mots id reference
            appConfig.store.motsid = $(event.target).val().split(',|')[0];
            appConfig.store.role = $(event.target).val().split(',|')[1];
            appNavigator.loadURL("./main/changeMots/" + appConfig.store.motsid +'/'+ appConfig.store.role +"/"+ window.location.hash.replace('#',''),$('#content'));

            $('[data-toggle="tooltip"]').tooltip("hide");

            var selectedAppDesc = $(event.target).find('option:selected').attr('data-description');
            $('#mots-dropdown').attr('data-original-title', selectedAppDesc);
        });
    });

    $('#mots-dropdown').mouseout(function() {
        $('[data-toggle="tooltip"]').tooltip("hide");
    });

    $('#mots-dropdown option').mouseover(function() {
        $('[data-toggle="tooltip"]').tooltip("hide");
    });

    $('#mots-dropdown').click(function() {
        $('[data-toggle="tooltip"]').tooltip("hide");
    });

    if ( appConfig.store.motsid != ''&& appConfig.store.motsid != undefined ) {
        $('#mots-dropdown option').removeAttr("selected");
        $('#mots-dropdown option[id="' + appConfig.store.motsid + '"]').prop('selected', true);
    }

    $('[data-toggle="tooltip"]').tooltip();

    var selectedAppDesc = $('#mots-dropdown option:selected').attr('data-description');
    $('#mots-dropdown').attr('data-original-title', selectedAppDesc);
</script>
 -->						</div>
					</div>
				</div>

				<div class="collapse navbar-collapse" id="collapse-header-menu">
					<ul class="nav navbar-nav navbar-right">
						<!-- <img align="left" width
							src="https://tspace.web.att.com/profiles/photo.do?key=3a3a0f54-64f6-4d25-821a-1ebb73d5449b&amp;lastMod=1484612937997"
							class="profile_img hidden-sm hidden-xs"> -->

						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false">
								{{dashuser}} <!-- <span class="caret"></span> -->
						</a>
							<!-- <ul class="dropdown-menu" role="menu">
								<li><a
									href="https://wiki.web.att.com/display/TACT/Quick+Start+Guide"
									target="_blank"><i class="fa fa-question-circle"
										aria-hidden="true"></i> Deployment Pipeline Quick Start Guide</a></li>
								<li><a
									href="https://wiki.web.att.com/pages/viewpage.action?pageId=552768153"
									target="_blank"><i class="fa fa-question-circle"
										aria-hidden="true"></i> Eco Microservice Quick Start Guide</a></li>
								<li><a href="http://pipeline.web.att.com:8085/uui//logout/"><i
										class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
							</ul></li>
 -->					</ul>
				</div>
			</div>

		</div>
